<div id="<%= dom_id publication %>">
  <div class="card">
    <%= image_tag publication.images[0], class: 'card-img-top' %>
    <p>
      <strong>Detalle:</strong>
      <%= publication.detalle %>
    </p>
  </div>
</div>

